.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: .5s ease;
}

.navBar-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navBar-logo {
    padding: 30px 15px 0px;
}

.navBar-logo img {
    margin-bottom: 0;
    max-height: 50px;
    color: green;
}

.navBar-main ul li {
    margin-left: 32px;
    position: relative;

}

.navBar-main ul li a {
    padding: 10px 0px !important;
    font-size: 17px;
    font-weight: 300;
    font-family: myriad;
    color: rgb(3, 38, 6) !important;
    text-transform: capitalize;
}

.navBar-main ul li:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 13px;
    position: absolute;
    top: 15px;
    right: calc(100% + 16px);
    background: #008ed3;
}

/* 
#hover-dropdown .dropdown-menu {
    transform: translate(50%) scale(1);
    opacity: 1;
} */


#hover-dropdown:hover .dropdown-menu {
    display: block;
    transform: translate(-30%) scale(1);
}

.dropdown-menu{
    transform: translate(50%) scale(0);
}

.dropdown-menu.mega-menu open{
    display: none;
    width: 750px;
    left: initial;
    right: 50%;
    transform: translate(50%) scale(1);
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 15px!important;
}

/* @media screen {
    .navBar-main{
        width: 100%;
        display: block;
    }
    
} */

@media (min-width: 1200px) {

    .navBar-main {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) {
    .navbar-nav .nav-item .dropdown-menu.mega-menu::before {
        content: "";
        border-bottom: 13px solid white;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        right: initial;
        display: inline-block;
        position: absolute;
        top: -12px;
        left: 50%;
        margin-left: 0;
        transform: translate(-50%);
    }
}