.navBar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.5s ease;
  background-color: green;
}

.navBar-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navBar-logo {
  padding: 0px 15px 0px;
}

.navBar-logo img {
  margin-bottom: 0;
  max-height: 50px;
  color: green;
}

.navBar-main ul li {
  margin-left: 32px;
  position: relative;
}

.navBar-main ul li a {
  padding: 10px 0px !important;
  font-size: 17px;
  font-weight: 300;
  font-family: myriad;
  color: rgb(255, 255, 255) !important;
  text-transform: capitalize;
}
.navBar-main ul li a svg{
 font-size: 13px;
 margin-left: 5px;
}


#hover-dropdown:hover .dropdown-menu {
  display: block;
  transform: translate(-30%) scale(1);
  background-color: green;
  padding: 0;
}

.dropdown-submenu{
  margin-left: 0 !important;
}
.dropdown-submenu .dropdown-item {
  padding: 10px 20px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}


.dropdown-menu {
  transform: translate(50%) scale(0);
}

.dropdown-menu.mega-menu open {
  display: none;
  width: 750px;
  left: initial;
  right: 50%;
  transform: translate(50%) scale(1);
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 15px !important;
}

.contact-button {
  margin-left: 30px;
}
.contact-button a p {
  padding: 10px 25px;
  margin: 0;
  background-color: rgb(0, 54, 0);
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: flex-end;
}
.contact-button a p svg {
  font-size: 25px;
  margin-right: 10px;
}
.contact-button a {
  text-decoration: none;
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: rgb(0, 68, 0);
}



@media (min-width: 1200px) {
  .navBar-main {
    max-width: 1140px;
  }
}

@media screen and (min-width: 992px) {
  /* .navbar-nav .nav-item .dropdown-menu.mega-menu::before {
    content: "";
    border-bottom: 13px solid green;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    right: initial;
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: 0;
    transform: translate(-50%);
  } */
}
