.Addver {
    display: flex;
}

.Addver-left {
    width: 50%;
    color: white;
    padding: 3rem 15px;
}

.Addver-right {
    width: 50%;
}

.Addver-left h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1rem;
}

.Addver-left-viewall {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.Addver-left-viewall p {
    margin: 0;
    padding: 10px 25px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 48px;
    color: #222;
    font-weight: 700;
    font-size: .8rem;
    opacity: 1;
    box-shadow: -2px -2px 4px #00000008, 6px 6px 13px #00000047;
}