.Home {
  overflow: hidden;
}

.home-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-items {
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0rem;
  max-width: 1140px;
  position: relative;
}

.home-partners,
.home-portfolio {
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 1rem 2rem 1rem;
  max-width: 1140px;
  position: relative;
}

.home-portfolio {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem 6rem 1rem;
  max-width: 1140px;
  position: relative;
}

.home-solution {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  margin-bottom: 3rem;
  position: relative;
}


.home-items-box{
  background-color: green;
}

.home-contactUs {
  background-color: black;
}

@media (min-width: 1200px) {
  .home-items{
    max-width: 1140px;
  }
}
