/* .Home {
  overflow: hidden;
} */

.home-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-items {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0rem;
  max-width: 1140px;
  position: relative;
}

.home-partners,
.home-portfolio {
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 1rem 2rem 1rem;
  max-width: 1140px;
  position: relative;
}

.home-about{
  padding: 6rem 0rem 3rem 0rem;
}

.home-portfolio {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem 6rem 1rem;
  max-width: 1140px;
  position: relative;
}

.home-solution {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  margin-bottom: 3rem;
  position: relative;
}


.home-items-box{
  background: rgb(40,73,40);
background: radial-gradient(circle, rgba(40,73,40,1) 1%, rgb(2, 29, 2) 99%);
}

.home-contactUs {
  background: rgb(0,0,0);
background: linear-gradient(140deg, rgba(0,0,0,1) 90%, rgba(5,27,10,1) 108%);
}

@media (min-width: 1200px) {
  .home-items{
    max-width: 1140px;
  }
}
