.WorkBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.boxes1 ,
.boxes3{
    max-width: 40%;
    flex: 0 0 40%;
}

.boxes2{
    flex: 0 0 20%;
    max-width: 20%;
    height: 440px;
    background-color: blue;
}


.boxes4 ,.boxes5 ,.boxes6 , .boxes7{
    width: 25%;
    background-color: yellow;
}