.Solution {
    display: flex;
}

.solution-left {
    width: 40%;
    padding: 3rem 3rem 3rem 1.5rem;
}

.featured-viewall.solution-btn {
    justify-content: flex-start;
    margin-top: 3rem;
}

.solution-right {
    background-color: black;
    width: 60%;
    padding: 3rem 1.5rem 3rem 0px;
    z-index: 999;
    color: white;
}

.solution-right-row h4{
    color: #fff;
    margin: 0 0 1rem;
}

.solution-right-box {
    display: flex;
}

.solution-right-row {
    padding-left: 15px;
    width: 33.3%;
}

.solution-right-box ul {
    margin: 0;
    padding: 0;
}

.solution-right-box ul li {
    display: flex;
    color: #a1a1a1;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.solution-right-box ul li{
    color: #a1a1a1;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: 16px;
}